*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: sans-serif;
    background-color: #fdfeff;
}
img{
    max-width: 100%;
}
.hide-for-desktop {
    display: none;
}

.logo{
    height: 40px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.list{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.1rem;
}
.list-items:first-child{
    font-weight: 700;
}
.register-btn{
    color: hsl(208deg 87% 50%);
    border: 1px solid hsl(208deg 87% 50%);
    padding: .7rem 2rem;
    border-radius: 5px;
    background:none;
}
.main,
.sub-main,
.technical{
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 3rem;
    padding: 3rem 2rem;
    text-transform: capitalize;
}
.para{
    font-size: 1rem;
    padding: 0rem 3rem 3rem 2rem;
    line-height: 1.75;
    opacity: 0.5;
}
.content{
    width: 50%;
}
.main-img,
.sub-main-img,
.technical-img{
    width: 50%;
}
.main-button{
    margin-left: 2.5rem;
    padding: .9rem 2rem;
    background: 0;
    background-image: linear-gradient(to right, hsl(200deg 91% 50%),hsl(213deg 97% 47%));
    border: 0;
    border-radius: 5px;
    color: white;
}
.services{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 2rem;
}
.service-title{
    width: 40%;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
}
.service-content{
    width: 40%;
    padding: 0 4rem;
    font-size: .9rem;
    line-height: 2;
    opacity: 0.5;
}
.menu{
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}
.menu-section{
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
    width: 30%;
}
.menu-logo{
    padding: 1rem;
}
.menu-heading{
    padding-bottom: 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.menu-para{
    font-size: 1rem;
    line-height: 1.5;
    color: #808080;
}
.plans-section{
    background-image: linear-gradient(to right, hsl(199deg 92% 51%), hsl(215deg 96% 47%));
}
.plans-title{
    text-align: center;
    padding: 1rem;
    color: #FFFFFF;
    font-size: 3rem;
    text-transform: capitalize;
}
.plans{
    display: flex;
    justify-content:center;
    align-items: center;
}
.plan{
    background-color: #FFFFFF;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}
.plan:nth-child(2){
    padding: 0;
    padding-bottom: 1rem;
}
.plan-active{
    background-color: #353535;
    color: #FFFFFF;
    border-radius: 5px;
}
.plan-active .plan-text{
    color: #f9f2f2;
}
.plan-title{
    font-size: 1.25rem;
    padding: 1rem;
    padding-bottom: 0;
    text-transform: capitalize;
}
.plan-text{
    padding: 1rem;
    font-size: .8rem;
    color: #808080;
}
.plan > li {
    padding: .5rem 1rem;
    font-size: .9rem;
    text-transform: capitalize;
}
.fa-regular{
    color: hsl(163deg 71% 50%);
    padding: .3rem;
}
.amount{
    padding: 1rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #111e45;
}
span{
    color: #808080;
    font-weight: 500;
}
.cancel{
    font-size: .9rem;
    text-align: center;
    padding-bottom: 1rem;
}
.choose-plan{
    display: block;
    margin: auto;
    padding: .5rem 1.5rem;
    background:none;
    border: 1px solid hsl(209deg 98% 47%);
    border-radius: 5px;
    color: hsl(209deg 98% 47%);
    font-weight: 600;
    font-size: 1rem;
    text-transform: capitalize;
}
.btn{
    background-image: linear-gradient(to right, hsl(199deg 92% 51%), hsl(215deg 96% 47%));
    color: #FFFFFF;
}
.customers-review{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.customers-review:first-child{
    background-color: hsl(0deg 0% 100%);
}
.customer-section{
    padding: 2rem;
}
.customer-title{
    text-align: center;
    padding: 1rem;
    text-transform: capitalize;
    font-size: 3.5rem;
}
.customer-para{
    text-align: center;
    padding: 1.5rem;
    color: #808080;
}
.customer{
    width: 45%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.customer:first-child{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.customer-name{
    display: flex;
    align-items: center;
    padding:1.5rem 2rem 1rem 2rem;
}
.review{
    padding: 0 2rem;
}
.cir-img{
    margin-right: .5rem;
}
.name{
    padding: .5rem 0;
    font-weight: 600;
}

.register-now{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-image: linear-gradient(to right, hsl(199deg 92% 51%), hsl(215deg 96% 47%));
}

.register-content{
    color: #FFFFFF;   
}
.register-title{
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1.5rem;
}
.register-button{
    color:white;
    border: 1px solid #FFFFFF;
    padding: .7rem 2rem;
    border-radius: 5px;
    background:none;
}
.register-text{
    padding: 0 1.5rem;
}
footer{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
.footer-para{
    margin-top: 1rem;
    line-height: 1.5;
    opacity: 0.5;
}
.footer-logo{
    width: 30%;
    padding: 1.5rem;
}
.footer-menu{
    padding: 1rem;
}
.menu-title{
    font-size: 1.1rem;
    text-transform: capitalize;
    padding: 1rem;
}
.footer-menu > p{
    padding: .5rem 1rem;
    opacity: 0.5;
}
.li-icon{
    margin-bottom: .4rem;
}

@media only screen and (max-width:900px) {
    .list{
        display: none
    }
    .hide-for-desktop {
        display: block;
        cursor: pointer;
    }
    .hide-for-desktop div {
        height: 3px;
        width: 1.5rem;
        background-color: #000;
        margin: 5px;
    }
    .main{
        padding: 2rem 1rem;
    }
    .main-img{
        width: 40%;
    }
    .title{
        padding: 0;
        font-size: 2rem;
    }
    .para{
        padding: 2rem 0;
    }
    .main-button{
        margin:0
    }
    .service-title{
        width: 100%;
        font-size: 2rem;
    }
    .service-content {
        width: 100%;
        padding: 0 2rem;
    }
    .plan{
        margin: 1rem;
    }
    .plans-title {
        font-size: 2rem;
    }
    .register-title {
        font-size: 2rem;
    }
    .register-button{
        padding: 0.5rem 1rem;
        white-space: nowrap;
    }
}

@media only screen and (max-width:420px) {
    .logo{
        height: 25px;
    }
    header{
        padding: 1rem;
    }
    .main,
    .sub-main{
        display: block;
    }
    .content{
        width: 100%;
    }
    .title{
        font-size: 1.5rem;
    }
    .main-img,
    .sub-main-img{
        width: 100%;
        margin: 2rem 0;
    }
    .technical{
        display: block;
    }
    .main-img,
    .sub-main-img,
    .technical-img {
        width: 100%;
    }

    .services{
        display: block;
        padding: 2rem;
    }
    .service-content{
        padding: 1rem 0;
    }
    .service-title{
        font-size: 1.5rem;
    }
    .menu{
        display: block;
    }
    .menu-section{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .menu-heading{
        font-size: 1.25rem;
    }
    .plans-title{
        font-size: 1.25rem;
    }
    .plans{
        display: block;
        padding: 1rem 0;
    }
    .plan-title {
        font-size: 1.25rem;
    }
    .customer-title{
        font-size: 1.5rem;
        padding: 0;
    }
    .customer-para{
        padding: 1rem 0;
    }
    .customers-review {
        display: block;
    }
    .customer{
        width: 100%;
    }
    .customer-name {
        padding:1rem;
    }
    .customer-name p{
        font-size: 0.8rem;
    }
    .review{
        padding: 0 1rem;
    }
    .register-now{
        display:block;    
        padding: 1rem;
    }
    .register-title{
        font-size: 1.5rem;
        padding: 1rem;
    }
    .register-text{
        padding: 0 1rem;
    }
    .register{
        margin: 1rem;
    }
    footer{
        display: block;
    }
    .footer-logo{
        width: 100%;
        padding: 0.5rem;
    }
    .footer-menu{
        text-align: center;
    }
}

